section {
  height: 300vh;
  
  
}
.homepage-container{
  width:auto;
  height: 140vh;
  background-image: url('../Images/1551100.jpg');
  background-size:cover;
}
.welcm-msg{
  background-color: black;
  text-align: center;
  height: 25vh;
  width: auto;
  margin-top: 12vh;
}
.welcm-head{
  font-size: 45px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.welcm-line{
  font-size: 25px;
  color: white;
}
.welcm-btn{
  border-radius: 5px;
  font-size: 15px;
}

  